<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso</title>
    <link rel="stylesheet" href="css/sucesso.css">
</head>

<body>
    <div class="sc-container">
        <h1>Algo deu errado!</h1>
        <p>Pedimos desculpas pelo inconveniente, mas ocorreu um erro ao<br> processar seu pedido.</p>
        <p>Para qualquer ajuda: suporte@wistart.com</p>
        <img src="img/pagamento/cancel.png" alt="">
        <a href="#" class="sc-btn">Voltar para a página inicial</a>
    </div>
</body>

</html>