<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Home</title>
  <link rel="stylesheet" href="css\swiper-bundle.min.css" />
  <link rel="stylesheet" href="css/comunidades.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-...o código de integridade...==" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://kit.fontawesome.com/b023fbb394.js" crossorigin="anonymous"></script>
  <link rel="icon" href="img/logo_novo-2 (2).ico" type="image/x-icon">
</head>

<body>
  <main>

    <div class="alin">
      <a onclick="window.location='/home.ejs'" class="wistart">WISTART</a>
  </div>
      <div class="main">
          <header>
             
              <header class="cd-header">
                  <div class="header-wrapper">
                      <div class="logo-wrap">
  
                      </div>
                      <div class="nav-but-wrap">
                          <div class="menu-icon hover-target">
                              <div class="menu-icon__line menu-icon__line-left"></div>
                              <div class="menu-icon__line"></div>
                              <div class="menu-icon__line menu-icon__line-right"></div>
                          </div>
                      </div>
                  </div>
              </header>
  
              <div class="nav">
                  <div class="nav__content">
                      <ul class="nav__list">
                        <li class="nav__list-item"><a onclick="window.location='/home'" class="hover-target">Inicio</a></li>
                        <li class="nav__list-item"><a onclick="window.location='/perfil'"class="hover-target">Perfil</a></li>
                        <li class="nav__list-item active-nav"><a onclick="window.location='/comunidade'" class="hover-target">Comunidades</a></li>
                        <li class="nav__list-item"><a onclick="window.location='/mercado'"class="hover-target">Loja</a></li>
                        <li class="nav__list-item"><a onclick="window.location='/login'" class="hover-target">Sair</a></li>
                        <li class="nav__list-item"><button id="cadas_btn"  onclick="window.location='/login'" >Cadastre-se</button></a></li>
                      </ul>
                      
                  </div>
              </div>
     
  
  
      <div class='cursor' id="cursor"></div>
      <div class='cursor2' id="cursor2"></div>
      <div class='cursor3' id="cursor3"></div>
      </header>
    <div class="search-bar">
      <input type="text" id="search-input" placeholder="Digite sua busca">
      <input type="button" id="search-button"><i class="fas fa-search" id="busca"></i></input>
    </div>






    <div class="margem">
    <h3 class="consoles">Nossas comunidades</h3>
  </div>

  <div id="nunsei">

      <div class="havatar">
        <img src="img/genshin.jfif" class="img">
        <h3 class="h3">League of Legends</h4>
        <div class="branco">
        </div>
        <h4 class="adm">LilJunior_003</h4>
        <h5 class="part">+ 100 Participantes</h5>
        <a onclick="window.location='/comunG'">
        <input type="button" class="botao" value="Participar">
      </a>
    </div>
    
    <div class="havatar">
        <img src="img/comunidades/division.jfif" class="img">
        <h3 class="h3">The division</h4>
        <div class="branco"></div>
        <h4 class="adm">rayquazaGamer</h4>
        <h5 class="part">+ 100 Participantes</h5>
        <a onclick="window.location='/comunM'">
          <input type="button" class="botao" value="Participar">
        </a>
    </div>
    <div class="havatar">
        <img src="img/comunidades/go.jpg" class="img">
        <h3 class="h3">Pokémon GO</h4>
        <div class="branco">
          
        </div>
        <h4 class="adm">Bruno_2980</h4>
        <h5 class="part">+ 100 Participantes</h5>
        <input type="button" class="botao" value="Participar">
    </div>
    <div class="havatar">
        <img src="img/comunidades/diablo.jpg" class="img">
        <h3 class="h3">Diablo IV</h4>
        <div class="branco"></div>
        <h4 class="adm">Diablo_master</h4>
        <h5 class="part">+ 100 Participantes</h5>
        <input type="button" class="botao" value="Participar">
    </div>
    <div class="havatar">
      <img src="img/genshin.jfif" class="img">
      <h3 class="h3">League of Legends</h4>
      <div class="branco">
      </div>
      <h4 class="adm">LilJunior_003</h4>
      <h5 class="part">+ 100 Participantes</h5>
      <a onclick="window.location='/comunG'">
      <input type="button" class="botao" value="Participar">
    </a>
  </div>
  
  <div class="havatar">
      <img src="img/comunidades/division.jfif" class="img">
      <h3 class="h3">The division</h4>
      <div class="branco"></div>
      <h4 class="adm">rayquazaGamer</h4>
      <h5 class="part">+ 100 Participantes</h5>
      <a onclick="window.location='/comunM'">
        <input type="button" class="botao" value="Participar">
      </a>
  </div>
  <div class="havatar">
      <img src="img/comunidades/go.jpg" class="img">
      <h3 class="h3">Pokémon GO</h4>
      <div class="branco">
        
      </div>
      <h4 class="adm">Bruno_2980</h4>
      <h5 class="part">+ 100 Participantes</h5>
      <input type="button" class="botao" value="Participar">
  </div>
  <div class="havatar">
      <img src="img/comunidades/diablo.jpg" class="img">
      <h3 class="h3">Diablo IV</h4>
      <div class="branco"></div>
      <h4 class="adm">Diablo_master</h4>
      <h5 class="part">+ 100 Participantes</h5>
      <input type="button" class="botao" value="Participar">
  </div>
  </div>
        
   

  <div class="nume">
    <h3 id="nume"><1 2 3 ...></h3>
  </div>
    
        <script src="js/menu.js"></script>
    <div class="mais">
      <a onclick="window.location='/criarcomun'">
      <i class='bx bx-plus-medical'></i>
    </a>
    </div>

  </main>
  <footer class="footer-distributed">

    <div class="footer-left">

        <h3>WISTART<h3>

                <p class="footer-links">
                    <a href="#" class="link-1">Inicio</a>

                    <a href="#">Comunidades</a>

                    <a href="#">Loja</a>

                    <a href="#">Perfil</a>

                    <a href="#">Dúvidas</a>

                    <a href="#">Contato</a>
                </p>

                <p class="footer-company-name">Wistart © 2023</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Rua qualquer, 123</span> Cidade qualquer</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>4002-8922</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:suporte@wistart.com">suporte@wistart.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Sobre nós</span>
            Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
            vehicula sit amet.
        </p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>


</body>

</html>