<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Home</title>
  <link rel="stylesheet" href="css\swiper-bundle.min.css" />
  <link rel="stylesheet" href="css/comunM.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-...o código de integridade...==" crossorigin="anonymous" />

</head>

<body>
  <main>

    <section id="section">
      <div class="back">
  
        <div class="fund">
          <img src="img/logo_novo.png" alt="">
      </div>
        <div class="sidebar">
          <div class="logo-content">
            <div class="logo">
  
              <i class='bx bx-joystick'></i>
              <h3>WIStart</h3>
            </div>
            <i class='bx bx-menu' id="btn"></i>
          </div>
          <ul class="list">
            <li class="search">
              <i class='bx bx-search'></i>
              <input type="text" placeholder="Buscar...">
            </li>
            <li class="list-item active">
              <a onclick="window.location='/home'">
                <i class='bx bx-home'></i>
                <span class="links-name">Inicio</span>
              </a>
              <span class="tooltip">Inicio</span>
            </li>
            <li class="list-item">
              <a onclick="window.location='/perfil'">
                <i class='bx bx-user'></i>
                <span class="links-name">Perfil</span>
              </a>
              <span class="tooltip">Perfil</span>
            </li>
            <li class="list-item">
              <a href="#">
                <i class='bx bx-chat'></i>
                <span class="links-name">Mensagens</span>
              </a>
              <span class="tooltip">Mensagens</span>
            </li>
            <li class="list-item">
              <a onclick="window.location='/comunidade'">
                <i class='bx bxs-group'></i>
                <span class="links-name">Comunidades</span>
              </a>
              <span class="tooltip">Comunidades</span>
            </li>
            <li class="list-item">
              <a onclick="window.location='/mercado'">
                  <i class='bx bx-store-alt'></i>
                <span class="links-name">Mercado</span>
              </a>
              <span class="tooltip">Mercado</span>
            </li>
            <li class="list-item">
              <a onclick="window.location='/carrinho'">
                <i class='bx bx-cart'></i>
                <span class="links-name">Carrinho</span>
              </a>
              <span class="tooltip">Carrinho</span>
          </li>
          </ul>
  
          <ul class="list-logout">
            <li class="list-logout">
              <a onclick="window.location='/cadastro'">
                <i class='bx bx-log-out'></i>
                <span class="links-name">Sair</span>
              </a>
              <span class="tooltip">Sair</span>
            </li>
          </ul>
        </div>
    </section>
    <div class="search-bar">
      <input type="text" id="search-input" placeholder="Faça sua pergunta">
      <input type="button" id="search-button"><i class="fas fa-search" id="busca"></i></input>
    </div>



    <div id="genshin">
      <h2 class="genshin">MINECRAFT</h2>
    </div>


    <div class="box">
      <i class='bx bxs-user-circle'></i>
      <h3 class="moreick">Moreick</h3>
      <h4 class="how">Como matar o dragão?</h4>
      <h4 class="resposta">Melhor resposta</h4>
      <div class="box2">
        <i class='bx bxs-user-circle'></i>
        <h3 class="mac">Mar_cio</h3>
        <h2 class="how2">Primeiro vc sobe nas torres e quebra os cristais, depois vai na espadada.</h2>
      </div>
      <div class="box23">
        <h4 class="resposta1">Outras respostas</h4>
        <div class="box2">
          <div class="box24">
          <i class='bx bxs-user-circle'></i>
        </div>
          <h3 class="mac">Oswaldo267</h3>
          <h2 class="how2">só tem nóis 3 aqui kkkk</h2>

          <input type="text" class="textbar">
          <div class="send">
            <div class="box12">
            <i class='bx bx-heart' style='color:#ffffff'></i>
          </div>
            <i class='bx bx-send'></i>
          </div>
        </div>
      </div>
    </div>
    <div class="box1">
      <i class='bx bxs-user-circle'></i>
      <h3 class="moreick">Hiperion</h3>
      <h4 class="how">gato escreve Deus com d minúsculo e vira cubo do roblox</h4>
      <img src="img/gato.png">
    </div>
    <div class="box2">
      <input type="text" class="textbar1">
      <div class="send1">
        <div class="box12">
          <i class='bx bx-heart' style='color:#ffffff'></i>
        </div>
        <i class='bx bx-send'></i>
      </div>
    </div>
    </div>
    <div class="box3">
      <i class='bx bxs-user-circle'></i>
      <h3 class="moreick">star_</h3>
      <h4 class="how"><strong><a href="#">Acesse</a></strong> meu perfil e confira meus produtos</h4>
      <div class="box2">
        <input type="text" class="textbar2">
        <div class="send2">
          <div class="box21">
          <i class='bx bx-heart' style='color:#ffffff'></i>
        </div>
          <i class='bx bx-send'></i>
        </div>
      </div>
    </div>

    <script src="js\scriipt.js"></script>

    <div class="borda">
      <h3 class="perguntados">Mais perguntados</h3>
      <h2 class="hash">#</h2>
      <h2 class="hash">#</h2>
      <h2 class="hash">#</h2>
    </div>

    <div class="borda2">
      <h3 class="outras">Outras comunidades</h3>
      <img src="..img/genshin.jfif">
      <h4 class="mines">Genshin Impact</h4>
      <img src="..img/resident.jfif">
      <h4 class="mines">Resident Evil</h4>
      <img src="..img/pequenos.jfif">
      <h4 class="mines">Little Nightmares</h4>
      <div class="mais1">
        <a href="#">
          <i class='bx bx-plus-medical'></i>
        </a>
      </div>

    </div>

    <div class="mais">
      <a href="produto.html">
        <i class='bx bx-plus-medical'></i>
      </a>
    </div>



  </main>
  <footer>
    <div class="footer">
      <div id="inicio">

      </div>

      <div class="list-container">
        <div class="list-wrapper">
          <h4 class="inicio">INÍCIO</h4>
          <ul class="list">
            <li><a href="home.html">Home</a></li>
            <li><a href="home.html">Comunidades</a></li>
            <li><a href="home.html">Carrinho</a></li>
            <li><a href="home.html">Login</a></li>
            <li><a href="home.html">Cadastro</a></li>
          </ul>
        </div>
        <div class="list-wrapper">
          <h4 class="inicio">SOBRE NÓS</h4>
          <ul>
            <li><a href="home.html">Informações da empresa</a></li>
            <li><a href="home.html">Contato</a></li>
            <li><a href="home.html">Blog</a></li>
          </ul>
        </div>
        <div class="list-wrapper">
          <h4 class="inicio">SUPORTE</h4>
          <ul>
            <li><a href="home.html">FAQ</a></li>
            <li><a href="home.html">Telefones</a></li>
            <li><a href="home.html">Chat</a></li>
          </ul>
        </div>
        <div class="list-wrapper">
          <h4 class="inicio">SIGA-NOS</h4>
          <ul>
            <li><a href="home.html">Instagram</a></li>
            <li><a href="home.html">Twitter</a></li>
            <li><a href="home.html">Reddit</a></li>
          </ul>

        </div>

      </div>
    </div>
    <div class="footer2">
      <h3 class="wis">WISTART</h3>
      <div class="insta">
        <i class='bx bxl-instagram'></i>
      </div>
      <div class="twitter">
        <i class='bx bxl-twitter'></i>
      </div>
      <div class="reddit">
        <i class='bx bxl-reddit'></i>
      </div>
    </div>
    <div class="linhazinha"></div>
    <div class="lis">
    <div class="contato">
      <h4 id="contato">
        Contato
      </h4>
    </div>
    <div class="contato">
      <h4 id="contato">
        FAQ
      </h4>
    </div>
    <div class="contato">
      <h4 id="contato">
        Termos e Condições
      </h4>
    </div>
    <div class="contato">
      <h4 id="contato">
        Política de Privacidade 
      </h4>
    </div>
    </div>
  </footer>


</body>

</html>