<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Home</title>
  <link rel="stylesheet" href="css\swiper-bundle.min.css" />
  <link rel="stylesheet" href="css/comunG.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-...o código de integridade...==" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://kit.fontawesome.com/b023fbb394.js" crossorigin="anonymous"></script>
</head>

<body>

  <header>
    <div class="alin">
      <a onclick="window.location='/home'" class="wistart">WISTART</a>
    </div>
    </div>
    <div class="main">
      <header>
        <header class="cd-header">
          <div class="header-wrapper">
            <div class="logo-wrap">

            </div>
            <div class="nav-but-wrap">
              <div class="menu-icon hover-target">
                <div class="menu-icon__line menu-icon__line-left"></div>
                <div class="menu-icon__line"></div>
                <div class="menu-icon__line menu-icon__line-right"></div>
              </div>
            </div>
          </div>
        </header>
      </header>
      <div class="nav">
        <div class="nav__content">
          <ul class="nav__list">
            <li class="nav__list-item"><a onclick="window.location='/home'" class="hover-target">Inicio</a>
            </li>
            <li class="nav__list-item"><a onclick="window.location='/perfil'" class="hover-target">Perfil</a></li>
            <li class="nav__list-item active-nav"><a onclick="window.location='/comunidade'"
                class="hover-target">Comunidades</a>
            </li>
            <li class="nav__list-item "><a onclick="window.location='/mercado'" class="hover-target">Loja</a>
            </li>
            <li class="nav__list-item"><a onclick="window.location='/login'" class="hover-target">Sair</a>
            </li>
            <li class="nav__list-item"><button id="cadas_btn"
                onclick="window.location='/login'">Cadastre-se</button></a></li>



          </ul>

        </div>
      </div>



      <div class='cursor' id="cursor"></div>
      <div class='cursor2' id="cursor2"></div>
      <div class='cursor3' id="cursor3"></div>
  </header>

  <main>


    <div id="genshin">
      <h2 class="genshin">DIABLO IV</h2>
    </div>


    <div class="box">
      <i class='bx bxs-user-circle'></i>
      <h3 class="moreick">Moreick</h3>
      <h4 class="how">Qual a melhor classe no jogo?</h4>
      <h4 class="resposta">Melhor resposta</h4>
      <div class="box2">
        <i class='bx bxs-user-circle'></i>
        <h3 class="mac">Wolf_Claws</h3>
        <h2 class="how2">Com toda certeza necromante, já que
          você pode invocar lacaios para te ajudar.</h2>
      </div>
      <div class="box23">
        <h4 class="resposta1">Outras respostas</h4>
        <div class="box2">
          <div class="box24">
            <i class='bx bxs-user-circle'></i>
          </div>
          <h3 class="mac">Oswaldo267</h3>
          <h2 class="how2">to com o msm problema</h2>

          <input type="text" class="textbar">
          <div class="send">
            <div class="box12">
              <i class='bx bx-heart' style='color:#009df5'></i>
            </div>
            <i class='bx bx-send'></i>
          </div>
        </div>
      </div>
    </div>
    <div class="box1">
      <i class='bx bxs-user-circle'></i>
      <h3 class="moreick">Falcon</h3>
      <h4 class="how">Qual o melhor tanque?</h4>
      <h4 class="resposta">Melhor resposta</h4>
      <div class="box2">
        <i class='bx bxs-user-circle'></i>
        <h3 class="mac">Rafa_Gomes</h3>
        <h2 class="how2">Acredito sem sombra de dúvidas que o
          Barbaro.</h2>
      </div>
      <div class="box23">
        <div class="box2">
          <div class="box24">
          </div>


          <input type="text" class="textbar">
          <div class="send">
            <div class="box12">
              <i class='bx bx-heart' style='color:#009df5; font-size: 45px;'></i>
              <i class='bx bx-send' style='color:#009df5; font-size: 45px;'></i>
            </div>
      
          </div>
        </div>
      </div>
    </div>
    </div>


    <script src="js\scriipt.js"></script>

    <div class="borda">
      <h3 class="perguntados">Mais perguntados</h3>
      <h2 class="hash"># Qual a melhor classe do jogo?</h2>
      <h2 class="hash"># Qual o melhor tanque?</h2>
      <h2 class="hash"># Posso jogar com os meus amigos?</h2>
    </div>

    <div class="borda2">
      <h3 class="outras">Outras comunidades</h3>
      <img src="img/mines.jfif">
      <h4 class="mines">Minecraft</h4>
      <img src="img/resident.jfif">
      <h4 class="mines">Resident Evil</h4>
      <img src="img/pequenos.jfif">
      <h4 class="mines">Little Nightmares</h4>
      <div class="mais1">
        <a href="#">
          <i class='bx bx-plus-medical'></i>
        </a>
      </div>

    </div>

    <div class="mais">
      <a href="produto.html">
        <i class='bx bx-plus-medical'></i>
      </a>
    </div>


    <script src="js/menu.js"></script>
  </main>

  <footer class="footer-distributed">

    <div class="footer-left">

        <h3>WISTART<h3>

                <p class="footer-links">
                    <a href="#" class="link-1">Inicio</a>

                    <a href="#">Comunidades</a>

                    <a href="#">Loja</a>

                    <a href="#">Perfil</a>

                    <a href="#">Dúvidas</a>

                    <a href="#">Contato</a>
                </p>

                <p class="footer-company-name">Wistart © 2023</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Rua qualquer, 123</span> Cidade qualquer</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>4002-8922</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:suporte@wistart.com">suporte@wistart.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Sobre nós</span>
            Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
            vehicula sit amet.
        </p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>

</body>

</html>