<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WISTART</title>
    <link rel="stylesheet" href="css\criarcomun.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b023fbb394.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" href="img/logo_novo-2 (2).ico" type="image/x-icon">
</head>

<body>
  <div class="alin">
    <a onclick="window.location='/home.ejs'" class="wistart">WISTART</a>
</div>
<div class="main">
    <header>

        <header class="cd-header">
            <div class="header-wrapper">
                <div class="logo-wrap">

                </div>
                <div class="nav-but-wrap">
                    <div class="menu-icon hover-target">
                        <div class="menu-icon__line menu-icon__line-left"></div>
                        <div class="menu-icon__line"></div>
                        <div class="menu-icon__line menu-icon__line-right"></div>
                    </div>
                </div>
            </div>
        </header>

        <div class="nav">
            <div class="nav__content">
                <ul class="nav__list">
                    <li class="nav__list-item"><a onclick="window.location='/home'" class="hover-target">Inicio</a></li>
                    <li class="nav__list-item"><a onclick="window.location='/perfil'"class="hover-target">Perfil</a></li>
                    <li class="nav__list-item active-nav"><a onclick="window.location='/comunidade'" class="hover-target">Comunidades</a></li>
                    <li class="nav__list-item"><a onclick="window.location='/mercado'"class="hover-target">Loja</a></li>
                    <li class="nav__list-item"><a onclick="window.location='/login'" class="hover-target">Sair</a></li>
                    <li class="nav__list-item"><button id="cadas_btn" onclick="window.location='/cadastro'" >Cadastre-se</button></a></li>

                </ul>

            </div>
        </div>



        <div class='cursor' id="cursor"></div>
        <div class='cursor2' id="cursor2"></div>
        <div class='cursor3' id="cursor3"></div>
    </header>
</div>

    <main>
        <section id="section">
         
          </section>
          <div class="alin">
                <div class="criar">
                    <h2 id="criar">Crie sua comunidade</h2>
                    
                    <h3 id="sua">Sua comunidade é o lugar onde você e os players se reúnem. <br> Crie sua comunidade e descubra coisas novas.</h3>
                </div>
                
                    <div class="add">
                        <H4 id="add">Adicione uma imagem</H2>
                    </div>
                    <div id="imagePreview">
                        <img src="img/default.png" alt="" id="previewImage">
                    </div>
                   
                    <form id="uploadForm" enctype="multipart/form-data">
                        <label for="fileInput" id="uploadLabel">
                            <span><i class="fa-sharp fa-regular fa-pen-to-square fa-fade"
                                    style="color: #fff;"></i></span>
                            <input type="file" id="fileInput" name="fileInput">
                        </label>
                        <button type="submit" id="uploadButton"><i class="far fa-paper-plane"
                                style="color: #fff;"></i></button>
                    </form>
                    
                    <form id="produto">
                        <div class="alinhamento">
                            <label for="nome" class="nome font-montserrat">
                                Nome da comunidade:
                                <br>
                                <input type="text" id="nome" name="nome" required>
                            </label>
                            <h6 class="diretriz">Ao criar uma comunidade, você concorda com as<br> <strong>diretrizes de comunidades </strong> do Wistart</h6>
                        </div>
                <div class="alinhamento4">
                    <label for="descricao" class="descricao font-montserrat">
                        Descrição:
                        <br>
                        <textarea id="descricao" name="descricao" placeholder="Insira uma descrição da comunidade..."
                            required></textarea>
                    </label>
                

                <input type="submit" value="Criar Comunidade" class="btn">
                </form>
            </div>
        </div>
                <script src="js\scriipt.js"></script>

        </section>

        <script src="js\upload.js"></script>
        <script src="js/menu.js"></script>
    </main>
    <footer class="footer-distributed">

      <div class="footer-left">
  
          <h3>WISTART<h3>
  
                  <p class="footer-links">
                      <a href="#" class="link-1">Inicio</a>
  
                      <a href="#">Comunidades</a>
  
                      <a href="#">Loja</a>
  
                      <a href="#">Perfil</a>
  
                      <a href="#">Dúvidas</a>
  
                      <a href="#">Contato</a>
                  </p>
  
                  <p class="footer-company-name">Wistart © 2023</p>
      </div>
  
      <div class="footer-center">
  
          <div>
              <i class="fa fa-map-marker"></i>
              <p><span>Rua qualquer, 123</span> Cidade qualquer</p>
          </div>
  
          <div>
              <i class="fa fa-phone"></i>
              <p>4002-8922</p>
          </div>
  
          <div>
              <i class="fa fa-envelope"></i>
              <p><a href="mailto:suporte@wistart.com">suporte@wistart.com</a></p>
          </div>
  
      </div>
  
      <div class="footer-right">
  
          <p class="footer-company-about">
              <span>Sobre nós</span>
              Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
              vehicula sit amet.
          </p>
  
          <div class="footer-icons">
  
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-github"></i></a>
  
          </div>
  
      </div>
  
</body>

</html>