<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ps2 - Usado</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="css/produto.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/b023fbb394.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/swiper-bundle.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" href="img/logo_novo-2 (2).ico" type="image/x-icon">
</head>

<body>



    <header>
        <div class="alin">
            <a onclick="window.location='/home'" class="wistart">WISTART</a>
        </div>
        </div>
        <div class="main">
            <header>
                <header class="cd-header">
                    <div class="header-wrapper">
                        <div class="logo-wrap">

                        </div>
                        <div class="nav-but-wrap">
                            <div class="menu-icon hover-target">
                                <div class="menu-icon__line menu-icon__line-left"></div>
                                <div class="menu-icon__line"></div>
                                <div class="menu-icon__line menu-icon__line-right"></div>
                            </div>
                        </div>
                    </div>
                </header>
            </header>
            <div class="nav">
                <div class="nav__content">
                    <ul class="nav__list">
                        <li class="nav__list-item"><a onclick="window.location='/home'" class="hover-target">Inicio</a>
                        </li>
                        <li class="nav__list-item"><a onclick="window.location='/perfil'"
                                class="hover-target">Perfil</a></li>
                        <li class="nav__list-item"><a onclick="window.location='/comunidade'"
                                class="hover-target">Comunidades</a>
                        </li>
                        <li class="nav__list-item active-nav"><a onclick="window.location='/mercado'"
                                class="hover-target">Loja</a>
                        </li>
                        <li class="nav__list-item"><a onclick="window.location='/login'" class="hover-target">Sair</a>
                        </li>
                        <li class="nav__list-item"> <i class='bx bxs-cart' id="cart-icon"></i>
                        <li class="nav__list-item"><button id="cadas_btn"
                                onclick="window.location='/login'">Cadastre-se</button></a></li>



                    </ul>

                </div>
            </div>



            <div class='cursor' id="cursor"></div>
            <div class='cursor2' id="cursor2"></div>
            <div class='cursor3' id="cursor3"></div>
    </header>


    <div class="carti">
        <h2 class="cart-title">Seu carrinho</h2>
        <div class="cart-content">


        </div>
        <div class="total">
            <div class="total-title">Total</div>
            <div class="total-price">R$0</div>
        </div>
        <button type="button" class="btn-buy">Compre agora</button>
        <i class='bx bx-x' id="close-cart"></i>
    </div>
    </header>




























    <main class="container">

        <div class="left-column">
            <img src="https://http2.mlstatic.com/D_NQ_NP_633579-MLB71371155048_082023-O.webp" alt="" class="product" >
        </div>


        <div class="right-column">

            <div class="product-description">
                <span>Consoles</span>
                <h1 class="product-title">PlayStation 2</h1>
                <p>Não estou mais usando ele, então quero
                    vender para ao menos ganhar um dinheiro.</p>
            </div>

            <div class="product-configuration">

                <div class="product-color">
                    <img src="img/loja/josias.png">
                    <span class="josias">Josias Marcos</span>

                    <div class="color-choose">

                    </div>

                </div>
                <div class="acompanha">
                    <h2>Acompanha</h2>
                    <ul>
                        <li>- 1 CONTROLE</li>
                        <li>- 1 CABO AV</li>
                        <li>- 1 CABO DE FORÇA</li>
                        <li>- 1 MEMORY CARD</li>
                        <li>- 5 JOGOS</li>
                    </ul>
                </div>
                <div class="configuracao">
                    <h2>Informações</h2>
                    <ul>
                        <li>- Marca: Sony</li>
                        <li>- Modelo: FAT</li>
                        <li>- Condição: Usado</li>
                        <li>- Tipo de console: De mesa</li>
                        <li>- Envio: Rio de Janeiro</li>
                    </ul>
                </div>

                <div>
                    <div class="none">
                      <img src="https://http2.mlstatic.com/D_NQ_NP_633579-MLB71371155048_082023-O.webp" alt="" class="product" >
                      <h2 class="product-title"  >PlayStation 2 - Usado</h2>
                      <span class="price">R$200</span>
                      <button class="cart-btn add-cart">Adicionar ao carrinho</button>
                    </div>





                <div class="product-price">
                
                  
                </div>
            </div>
    </main>
    <script src="js/carrinho.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/cart.js"></script>
</body>

</html>