<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso</title>
    <link rel="icon" href="img/logo_novo-2 (2).ico" type="image/x-icon">
    <link rel="stylesheet" href="css/sucesso.css">
</head>
<body>
    <div class="sc-container">
        <h1>Pagamento Concluido!</h1>
        <p>Seu pedido vai chegar em 2 dias.</p>
        <img src="img/pagamento/success.png" alt="">
        <a href="#" class="sc-btn">Voltar para a página inicial</a>
    </div>
</body>
</html>